<div class="corpo">
    <div class="menu-nav">
        <div class="menutoggle"></div>
        <div (click)="funcaoclick()" class="perfil">
            <h3>Dropdown</h3>
            <div class="imgCx">


            </div>
        </div>
        <div class="menu">
            <ul>
                <li>
                    <a href="#">
                    <i class="fa-regular fa-user"></i> perfil
                     </a>
                </li>
                <li>
                    <a href="">
                    <i class="fa-brands fa-rocketchat"></i>
                    cx de entrada
                </a>
                </li>
                <li>
                    <a href="">
                    <i class="fa-solid fa-gear"></i>
                    configuracoes
                </a>
                </li>
                <li>
                    <a href="">
                    <i class="fa-solid fa-question"></i>
                    ajuda
                </a>
                </li>
                <li>
                    <a href="./">
                    <i class="fa-solid fa-right-from-bracket"></i>
                    deslogar
                </a>
                </li>
            </ul>
        </div>
    </div>
</div>