<div class="container mt-5">
    <h2>Usuários</h2>
    <hr>
    <button (click)="newUsuario()" class="btn btn-sm btn-primary"><i class="fa fa-plus pe-2"></i>Novo Usuario</button>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th></th>
                    <th>Nome</th>
                    <th>E-mail</th>
                    <th>Administrador</th>
                </tr>
            </thead>
            <tbody>
                @for (usuario of usuario(); track usuario) {
                <tr>
                    <td>
                        <button (click)="alterarOuExcluirUsuario(usuario)" class="btn btn-sm btn-primary">
                            <i class="fa fa-search"></i>
                        </button>
                    </td>
                    <td>
                        {{usuario.nome}}
                    </td>
                    <td>
                        {{usuario.email}}
                    </td>
                    <td>
                        {{usuario.isAdmin}}
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>