<div class="container mt-5">
    <h2>Novo livro</h2>
    <hr/>
    <form>
        <div class="row g-3">
            <div class="col-md-4">
                <label for="nome" class="form-label">LivroNome</label>
                <input
                type="text"
                id="nome"
                class="form-control"
                placeholder="Digite o nome"  
                >
            </div>
            <div class="col-md-6">
                <label for="Autor" class="form-label">Autor</label>
                <input
                type="text"
                id="Autor"
                class="form-control"
                placeholder="Digite o Autor"  
                >
            </div>
            <div class="col-md-4">
                <label for="Editora" class="form-label">Editora</label>
                <input
                type="text"
                id="Editora"
                class="form-control"
                placeholder="Digite o Editora"  
                >
            </div>
            <div class="col-md-4">
                <label for="Data" class="form-label">LivroAnoPublicacao</label>
                <input
                type="date"
                id="Data"
                class="form-control"
                placeholder="Data"  
                >
            </div>
            <div class="col-md-4">
                <label for="Edicao" class="form-label">Edicao</label>
                <input
                type="text"
                id="Edicao"
                class="form-control"
                placeholder="Digite o Edicao"  
                >
            </div>
        </div>
        <div class="col-md-12 mt-4">
            <button class="btn btn-sm btn btn-success"><i class="fa fa-plus me-2"></i>Cadastrar livro</button>
        </div>
    </form>
</div>