<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="global">
        <div class="box">
            <div class="input">
                <input>
                <i class="fas fa-search"></i>
                <div (click)="funcaoToggle()" class="menutoggle"></div>
            </div>
        </div>
        <div class="menu">
            <ul>
                <li>
                    <a class="ancora" href="#">
                        <i class="fa-regular fa-user"></i> perfil
                    </a>
                </li>
                <li>
                    <a class="ancora" href="#">
                        <i class="fa-solid fa-outdent"></i> Sair
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>