.icone, .icone2 , .icone3 {
    padding: 8px;
    position: absolute;
    left: 0px;
    top: -1px;
}

.iconehover, .iconehover2 , .iconehover3 {
    padding: 8px;
    position: absolute;
    left: 0px;
    top: -1px;
    margin-left: 100000000px;
}