<div class="container mt-5">
    <h2>Clientes</h2>
    <hr>
    <button (click)="newCliente()" class="btn btn-sm btn-primary"><i class="fa fa-plus pe-2"></i>Novo Cliente</button>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th></th>
                    <th>CPF</th>
                    <th>Nome</th>
                    <th>Tel.Celular</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <button class="btn btn-sm btn-primary">
                            <i class="fa fa-search"></i>
                        </button>
                    </td>
                    <td>
                        111111111111111
                    </td>
                    <td>
                        Douglas
                    </td>
                    <td>
                        (11)984859283
                    </td>
                </tr>
                <tr>
                    <td>
                        <button class="btn btn-sm btn-primary">
                            <i class="fa fa-search"></i>
                        </button>
                    </td>
                    <td>
                        111111111111111
                    </td>
                    <td>
                        Douglas
                    </td>
                    <td>
                        (11)984859283
                    </td>
                </tr>
                <tr>
                    <td>
                        <button class="btn btn-sm btn-primary">
                            <i class="fa fa-search"></i>
                        </button>
                    </td>
                    <td>
                        111111111111111
                    </td>
                    <td>
                        Douglas
                    </td>
                    <td>
                        (11)984859283
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>