<div class="container-fluid">
    <button (click)="back()" class="btn btn-secondary">back</button>
</div>

<form [formGroup]="usuariosGroup">
    <div class="mb-3 mt-5">
        <label class="form-label">Nome</label>
        <input formControlName="nome" type="text" class="form-control" id="nome">
    </div>
    <div class="mb-3 mt-2">
        <label class="form-label">Idade</label>
        <input formControlName="idade" type="text" class="form-control" id="nome">
    </div>
    <div class="mb-3 mt-2">
        <label class="form-label">Estado</label>
        <input formControlName="estado" type="text" class="form-control" id="nome">
    </div>
        <div class="form-check">
        <input 
        formControlName="isAdmin"
        class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
        <label class="form-check-label" for="flexCheckChecked">
          Admin
        </label>
      </div>
    <button (click)="incluirUsuario()" type="submit" class="btn btn-primary">Enviar</button>
</form>



