<div class="container">
    <form>
      <div>
        <label>Id</label>
        <input type="text" class="disabled">
      </div>
      
      <div>
        <label></label>
        <input>
      </div>
      
      <div>
        <label>Musica</label>
        <input>
      </div>
      
      <button > 
        id
      </button>
    </form>
    
    <table>
      <thead>
        <th> Id </th>
        <th> Author </th>
        <th> Musica </th>
        <th> ... </th>
      </thead>
    
      <tbody>
        <tr>
          <td> ID</td>
          <td>autor </td>
          <td> musica</td>
          <td> 
            <span  > alterar </span> 
            <span  > remover </span> 
          </td>
        </tr>
  
      </tbody>
    </table>
  </div>